html, body{
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
}

ul{
  text-decoration:none;
  list-style:none;
}

nav{
  background: #090139;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 5;
  box-sizing: border-box;
}

nav ul{
  float:right;
}

nav ul li{
  display:inline-block;
  line-height:30px;
  margin: 0 5px;
}

nav ul li a{
  border-radius:3px;
  padding:7px 13px;
}

label.logo{
  color:white;
  font-size: 35px;
  line-height:55px;
  padding: 0 100px;
  font-weight:bold;
}

nav a:active, nav a:hover{
  background: #1b9bff;
  transition: 0.5s;
}

.checkbtn{
  float:right;
  color:white;
  font-size:35px;
  line-height:55px;
  margin-right:40px;
  cursor:pointer;
  margin-right:40px;
  display:none;
}

#check{
  display:none;
}

@media (max-width: 952px){
  label.logo{
    font-size:30px;
    padding-left:50px;
  }
  nav ul li a{
    font-size:16px;
  }
}

@media (max-width:858px){
  .checkbtn{
    display: block;
  }
  ul{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    right: -100%;
    text-align:center;
    transition: all 0.5s;
  }
  nav ul li{
    display:block;
    margin: 50px 0;

  }
  a:hover, a:active{
    background: #0082e6;
  }

  #check:checked ~ ul{
    right: 0;
  }
}

body{
  font-family: 'Ubuntu', Arial;
  font-weight: 100;
  background-color: #E4E4E4;
}

h2{
  font-size: 50px;
  text-align:center;
  margin:0;
  padding-top: 20px;
  color:white;
}

.intro{
  height: 830px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro img{
  position: absolute;
  top:0;
  left:0;
  height: 860px;
  width: 100%;
  object-fit: cover;
}

.intro p{
  margin: 0;
  font-size: 80px;
  font-weight: 70px;
  color: #00000;
  position: relative;
  top: 300px;
}

.about{
  position:relative;
  display:flex;
  width: 100%;
  margin: 0;
  padding-top: 25px;
}

.about .content{
  background-color: #090139;
  width:50%;
  color:white;
  padding:20px;
}

.about .selfie{
  width:50%;
  background: url("selfie.jpg");
  background-color: #55AD7A;
  background-position: center;
  background-size: cover;
}

.experiences{
  background-color:#181e29;
  padding-bottom:10px;
  margin: 0 auto;
  padding-top: 40px;
}

.experiences p{
  color:white;
}

.experiences h3{
  color:white;
}

a{
  text-transform: uppercase;
  text-decoration: none;
}

a:link{
  color:white;
}

a:visited{
  color:white;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 100px;
  text-align:center;
  justify-content: space-around;
  grid-column-gap: 10vw;
}

.box{
  width: 100%;
}

.box img{
  height: 100%;
  width: 100%;
  max-width: 300px;
  display:inline-block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  height: 0;
  transition: .5s ease;
}

.cont{
  position:relative;
}

.cont:hover .overlay {
  bottom: 0;
  height: 100%;
}

.contacts{
  background-color: #4887fa;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px 9.5vw;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
